node_modules
.nuxt
.output
.data
.nitro
.cache
dist
*.log
.env
.env.*
!.env.example
.firebase/
.dev.vars
.wrangler/
watch-gift.json
gift-watchs.json
gift-for-you-12eed.json
gift-for-you.json
gift-to-you.json
*-firebase-adminsdk-*.json
nbe.json
